body {
  font-family: Arial;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0px;
}

.botao-comprar {
  background: #a8f;
  padding: 10px 20px;
  text-decoration: none;
  color: #103;
  border-radius: 8px;
}

.item {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 8px;
  display: grid;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 20px;
  justify-content: center;
}
